Screen {
    align: center middle;
    background: transparent 80%;
}

* {
    scrollbar-size: 1 1;
}

#trust-dialog {
    max-width: 60;
    overflow-y: auto;
    border: solid $foreground-muted;
    border-title-align: left;
    border-title-color: $foreground;
    border-title-style: bold;
    background: $surface;
    height: auto;
    max-height: 1fr;
    padding: 0 1;
}

.ascii-chrome {
    border: ascii $foreground-muted;
}

#trust-dialog.ascii-chrome {
    border: ascii $foreground-muted;
}

#trust-dialog-content {
    width: 100%;
    height: auto;
    min-height: 3;
    max-height: 30vh;
}

#trust-dialog-content:focus {
    border-left: solid $primary;
}

#trust-dialog-path {
    width: 100%;
    height: auto;
    color: $foreground;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 1;
}

#trust-dialog-path.has-repo-root {
    margin-bottom: 0;
}

.trust-dialog-repo-root {
    width: 100%;
    height: auto;
    color: $text-muted;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 1;

}

.trust-dialog-repo-untrusted {
    width: 100%;
    height: auto;
    color: $warning;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 1;
}

.trust-dialog-section-center {
    width: 100%;
    height: auto;
    margin-bottom: 1;
}

.trust-dialog-section-stack {
    width: 100%;
    height: auto;
}

.trust-dialog-section-content {
    width: auto;
    max-width: 100%;
    height: auto;
    color: $foreground;
    text-align: center;
    text-overflow: fold;
}

.trust-dialog-section-title {
    width: 100%;
    height: auto;
    color: $text-muted;
    text-align: left;
    margin-bottom: 0;

}

.trust-dialog-file-list {
    width: 100%;
    text-align: center;
}

#trust-options-container {
    width: 100%;
    height: auto;
    align: center middle;
    margin-bottom: 1;
}

.trust-option {
    height: auto;
    width: 100%;
    color: $foreground;
    text-align: left;
}

.trust-cursor-selected {
    color: $foreground;
    text-style: bold reverse;
}

.trust-option-selected {
    color: $foreground;
}

.trust-dialog-help {
    width: 100%;
    height: auto;
    color: $text-muted;
    text-align: center;
    margin-bottom: 1;

}

.trust-dialog-save-info {
    width: 100%;
    height: auto;
    color: $text-muted;
    text-align: center;
    text-wrap: wrap;

}
